@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

$light-grey: rgb(241, 241, 241);
$base-font: "Raleway", sans-serif;
$border-bottom: 2px solid $light-grey;

*,
::before,
::after {
  box-sizing: border-box;
  font-family: $base-font;
}

body {
  margin: 0;
}
